@font-face {
    -fx-font-family: 'PressStart';
    src: url('PressStart2P-Regular.ttf');
}

AnchorPane {
    -fx-font-family: PressStart;
}

.mainPanel{
    -fx-min-height: 720;
    -fx-min-width: 1280;
}

Text {
    -fx-font-family: PressStart;
    -fx-font-size: 36;
}